.typing-animation h1 {
  white-space: nowrap;
  overflow: hidden;
}

.typing-animation h1:nth-child(1) {
  width: 100%;
  opacity: 0;
  animation: type 1.5s steps(20, end);
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.typing-animation h1:nth-child(2) {
  width: 100%;
  opacity: 0;
  animation: type 1s steps(10, end);
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

.typing-animation h1:nth-child(3) {
  width: 100%;
  opacity: 0;
  animation: type 1s steps(19, end);
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

@keyframes type {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

